.container {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
}

.logo span {
  font-weight: 600;
}

.right {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 2rem;
  font-weight: 500;

  list-style: none;
}

.menu li:hover {
  color: #fe956f;
  cursor: pointer;
}

.search {
  width: 7rem;
  height: 30%;
  outline: none; /* retira a borda padrão que aparece na caixa do input quando clicamos nela para digitar */

  border: none;
  border-radius: 5px;
  padding: .5rem;
}

.cart {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.cart:hover {
  color: #fe956f;
}

@media screen and (max-width: 640px) {

  .right {
    position: absolute;
    right: 2rem;
    z-index: 9999;
    background: white;
    color: var(--black);
    border-radius: 5px;
    flex-direction: column;
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    margin-left: -2rem;
    display: none;
  }

  .sandwichMenu {
    display: block;
    cursor: pointer;
  }

  .search {
    display: none;
  }

}